@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

:root {
    --part-header-font: 'Seymour One', sans-serif;
    --card-header-font: 'Seymour One', sans-serif;
    --sample-font: 'Commissioner', sans-serif;
}

.participant {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    margin-top: 0;
}

    .part-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vh 0;
        width: 100%;
        text-align: center;
        background: #feca6b;
    }

        .part-header > h1 {
            margin: 0;
        }

        .part-header__text {
            color: #63489d;
            font-family: 'Harpseal Regular';
            font-size: 2em;   
        }

    .part-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5%;
        /* padding: 3vh 0; */
    }

        .part-card {
            width: 49.75%;
            height: 300px;
            /* border-radius: 15px; */
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 5%;
            /* box-shadow: -10px 10px 24px -4px #63489d inset;
            -webkit-box-shadow: -10px 10px 24px -4px #63489d inset;
            -moz-box-shadow: -10px 10px 24px -4px #63489d inset; */
            margin-bottom: 5px;
            background: #f7e9ff;
        }

            .part-card-photo {
                width: 30%;
            }

                .part-card-photo > img {
                    padding: 0 5%;
                    width: 100%;
                    border-radius: 23px;
                }

            .part-card-content {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

                .card-content__name {
                    color: #63489d;
                    font-family: 'Harpseal Regular';
                    font-size: 1em;
                    margin-bottom: 2vh;
                }

                    .card-content__name > h3 > a {
                        text-decoration: none;
                        color: #63489d;
                    }

                .card-content__social {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                }

                    .card-content__social-item {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        gap: 2%;
                        justify-content: center;
                        align-items: center;
                    }

                        .card-content__social-item-icon {
                            width: 10%;
                            display: flex;
                        }

                        .card-content__social-item-ref {
                            width: 88%;
                        }

                            .card-content__social-item-ref > a {
                                font-size: 1.3rem;
                                text-decoration: underline;
                                font-family: 'FortuneC regular';
                                color: #63489d;
                            }

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

    .part-header {
        /* padding: 1vh 0; */
        height: 25px;
    }

        .part-header__text {
            font-size: .6rem;   
        }
        
    .part-list {
        flex-direction: column;
    }

        .part-card {
            width: 100%;
            height: 160px;
            margin-bottom: 5px;
        }

                .part-card-photo > img {
                    width: 100%;
                }

                .card-content__name {
                    margin: 0;
                }

                .card-content__name > h3 {
                    font-size: 1rem;
                    margin: 0;
                }

                    .card-content__social-item {
                        height: 15px;
                    }

                        .card-content__social-item-icon {
                            height: .5vh;
                        }

                            .card-content__social-item-icon > svg {
                                width: 10px;
                                height: 10px;                                
                            }

                            .card-content__social-item-ref > a {
                                font-size: .6rem;
                            }

}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

    .part-header {
        /* padding: 1vh 0; */
        height: 25px;
    }

        .part-header__text {
            font-size: .6rem;   
        }
        
    .part-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2%;
    }

        .part-card {
            width: 100%;
            margin-bottom: 5px;
            height: 160px;
        }

            .part-card-photo {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .part-card-photo > img {
                    width: 80%;
                }

                .card-content__name {
                    margin: 0;
                }

                .card-content__name > h3 {
                    font-size: .7rem;
                    margin: 0;
                }

                    .card-content__social-item {
                        height: 15px;
                    }

                        .card-content__social-item-icon {
                            height: .5vh;
                        }

                            .card-content__social-item-icon > svg {
                                width: 10px;
                                height: 10px;                                
                            }

                            .card-content__social-item-ref > a {
                                font-size: .6rem;
                            }

}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {

    .part-header {
        /* padding: 1vh 0; */
        height: 30px;
    }

        .part-header__text {
            font-size: .9rem;   
        }
        
    .part-list {
        flex-direction: column;
    }

        .part-card {
            width: 100%;
            height: 160px;
            margin-bottom: 5px;
        }

            .part-card-photo {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .part-card-photo > img {
                    width: 90%;
                }

                .card-content__name {
                    margin: 0;
                }

                .card-content__name > h3 {
                    font-size: 1rem;
                    margin: 0;
                }

                    .card-content__social-item {
                        height: 15px;
                    }

                        .card-content__social-item-icon {
                            height: .5vh;
                        }

                            .card-content__social-item-icon > svg {
                                width: 10px;
                                height: 10px;                                
                            }

                            .card-content__social-item-ref > a {
                                font-size: .6rem;
                            }
    
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {

    .participant {
        width: 70%;
    }

    .part-header {
        /* padding: 1vh 0; */
        height: 30px;
    }

        .part-header__text {
            font-size: .9rem;   
        }
        
    .part-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5%;
    }

        .part-card {
            width: 49.75%;
            margin-bottom: 5px;
            gap: 6%;
            height: 160px;
        }

            .part-card-photo {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .part-card-photo > img {
                    width: 100%;
                }

                .card-content__name {
                    margin: 0;
                }

                .card-content__name > h3 {
                    font-size: .65rem;
                    margin: 0;
                }

                    .card-content__social-item {
                        height: 15px;
                    }

                        .card-content__social-item-icon {
                            height: .5vh;
                        }

                            .card-content__social-item-icon > svg {
                                width: 10px;
                                height: 10px;                                
                            }

                            .card-content__social-item-ref > a {
                                font-size: .6rem;
                            }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

    .participant {
        width: 60%;
    }

    .part-header {
        /* padding: 1vh 0; */
        height: 30px;
    }

        .part-header__text {
            font-size: .9rem;   
        }
        
    .part-list {
        flex-direction: column;
    }

        .part-card {
            width: 100%;
            height: 200px;
            margin-bottom: 5px;
        }

            .part-card-photo {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .part-card-photo > img {
                    width: 90%;
                }

                .card-content__name {
                    margin: 0;
                }

                .card-content__name > h3 {
                    font-size: 1rem;
                    margin: 0;
                }

                    .card-content__social-item {
                        height: 20px;
                    }

                        .card-content__social-item-icon {
                            height: .5vh;
                        }

                            .card-content__social-item-icon > svg {
                                width: 10px;
                                height: 10px;                                
                            }

                            .card-content__social-item-ref > a {
                                font-size: .6rem;
                            }

}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {

    .participant {
        width: 60%;
    }

    .part-header {
        /* padding: 1vh 0; */
        height: 40px;
    }

        .part-header__text {
            font-size: .9rem;   
        }
        
    .part-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5%;
    }

        .part-card {
            width: 49.75%;
            height: 200px;
            margin-bottom: 5px;
        }

            .part-card-photo {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

                .part-card-photo > img {
                    width: 90%;
                }

                .card-content__name {
                    margin: 0;
                }

                .card-content__name > h3 {
                    font-size: 1rem;
                    margin: 0;
                }

                    .card-content__social-item {
                        height: 15px;
                    }

                        .card-content__social-item-icon {
                            height: .5vh;
                        }

                            .card-content__social-item-icon > svg {
                                width: 10px;
                                height: 10px;                                
                            }

                            .card-content__social-item-ref > a {
                                font-size: .6rem;
                            }

}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    
    .participant {
        width: 60%;
    }

}

@media screen and (min-width: 1921px) {

    .participant {

        width: 45%;

    }
    
}