@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

:root {
    --nav-font: 'Rubik Doodle Shadow', system-ui
}

.nav {
    width: 80%;
    font-family: var(--nav-font);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin: 0 auto;
    padding: 1vh 0;
    background: transparent;
}

    .dropdown {
        background: none;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        text-align: center;
        width: 21.25%;
        background: #feca6b;
        height: 8.5vh;
    }

        .nav-item > a {
            font-size: 1.5rem;
            text-decoration: none;
            font-family: 'Harpseal Regular';
            color: #63489d;
        }

        .nav-item > a:hover {
            color: #9772ab;
        }

        .dropdown-menu {
            font-family: 'Harpseal Regular';
            box-shadow: 0px -11px 20px -15px rgba(0,0,0,0.75) inset;
            -webkit-box-shadow: 0px -11px 20px -15px rgba(0,0,0,0.75) inset;
            -moz-box-shadow: 0px -11px 20px -15px rgba(0,0,0,0.75) inset;
        }

            .dropdown-item {
                color: #63489d !important;
            }

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

    .nav-item {
        height: 4.5vh;
    }

        .nav-item > a {
            font-size: .4rem;
        }

    .dropdown-menu {
        min-width: 3rem !important;
    }

        .dropdown-item {
            font-size: .5rem;
        }

}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

    .nav-item {
        height: 4.5vh;
    }

        .nav-item > a {
            font-size: .2rem;
        }

    .dropdown-menu {
        min-width: 3rem !important;
    }

        .dropdown-item {
            font-size: .5rem;
        }

}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {

    .nav-item {
        height: 4.5vh;
    }

        .nav-item > a {
            font-size: .4rem;
        }

    .dropdown-menu {
        min-width: 3rem !important;
    }

        .dropdown-item {
            font-size: .5rem;
        }
    
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {

    .nav-item {
        height: 4.5vh;
    }

        .nav-item > a {
            font-size: .4rem;
        }

    .dropdown-menu {
        min-width: 3rem !important;
    }

        .dropdown-item {
            font-size: .5rem;
        }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

    .nav-item {
        height: 4.5vh;
    }

        .nav-item > a {
            font-size: .4rem;
        }

    .dropdown-menu {
        min-width: 3rem !important;
    }

        .dropdown-item {
            font-size: .5rem;
        }

}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {

    .nav-item {
        height: 4.5vh;
    }

        .nav-item > a {
            font-size: .4rem;
        }

    .dropdown-menu {
        min-width: 3rem !important;
    }

        .dropdown-item {
            font-size: .5rem;
        }

}

@media screen and (min-width: 1921px) {
    
    .nav {
        width: 50%;
    }

}