.profile {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

    .profile-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vh 0;
        width: 100%;
        text-align: center;        
        background: #feca6b;
    }

        .profile-header > h1 {
            margin: 0;
        }

        .profile-header__text {
            color: #63489d;
            font-family: 'Harpseal Regular';
            font-size: 2rem;
        }

    .profile-info {
        width: 100%;
        background: #f7e9ff;
    }

        .profile-info-headers {
            display: flex;
            flex-direction: row;
            gap: 5%;
            padding: 10px 15px;
        }

            .profile-info-headers > h3 {
                color: #63489d;
                font-family: 'Harpseal Regular';
                font-size: 1.2rem;
                text-align: center;
                margin: 0;
                width: 43%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .profile-info-headers > h3:first-child {
                width: 27%;
                text-align: right;
            }

            .profile-info-headers > h3:nth-child(2) {
                width: 20%;
            }

        .profile-info-contacts {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 5%;
            padding: 0px 15px;
        }            

            .profile-info-contacts__image {
                width: 27%;
                display: flex;
                justify-content: center;
            }

                .profile-info-contacts__image > h3 {
                    display: none;
                    text-align: center;
                    color: #63489d;
                    font-family: 'Harpseal Regular';
                }

                .profile-info-contacts__image-name > h3, .profile-info-contacts__links-header > h3 {
                    text-align: center;
                    color: #63489d;
                    font-family: 'Harpseal Regular';
                }

            .profile-info-achivements {
                width: 32%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

                .profile-info-achivements > h3 {
                    display: none;
                    text-align: center;
                    color: #63489d;
                    font-family: 'Harpseal Regular';
                }

                .profile-info-achivements__season-header, .profile-info-achivements__event-header {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    border-bottom: 2px solid #63489d;
                }

                .profile-info-achivements__event-header {
                    margin-top: 10px;
                }

                    .profile-info-achivements__season-header > h3, .profile-info-achivements__event-header > h3 {
                        font-size: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        color: #63489d;
                        font-family: 'Harpseal Regular';
                    }

                .profile-info-achivements__season-item, .profile-info-achivements__event-item {
                    width: 100%;
                    display: flex;
                    height: 60px;
                    flex-direction: row;
                    align-items: center;
                    padding: 10px 0;
                    gap: 5%;
                    border-bottom: 2px solid #63489d;
                    border-left: 2px solid #63489d;
                }

                .profile-info-achivements > div.profile-info-achivements__event-item:first-child {
                    border-top: 2px solid #63489d;
                }

                    .profile-info-achivements__season-item-header {
                        border-left: 2px solid #63489d;
                        border-bottom: 2px solid #63489d;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        gap: 5%;
                    }

                        .profile-info-achivements__season-item-header > h4 {
                            width: 21.25%;
                            color: #63489d;
                            font-family: 'Harpseal Regular';
                            margin: 0;
                            font-size: 1rem;
                            text-align: center;                            
                            border-right: 2px solid #63489d;
                        }

                        .profile-info-achivements__season-item-medal {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 21.25%;
                            height: 60px;
                            border-right: 2px solid #63489d;
                        }

                        .profile-info-achivements__season-item > p, .profile-info-achivements__event-item > p {
                            margin: 0;
                            width: 21.25%;
                            height: 60px;
                            color: #63489d;
                            font-family: 'FortuneC regular';
                            text-align: center;
                            border-right: 2px solid #63489d;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .profile-info-achivements__event-item > p {
                            width: 50%;
                        }

                        .profile-info-achivements__event-item > p:first-child {
                            font-size: .8rem;
                        }

            .profile-info-contacts__links {
                width: 26%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

                .profile-info-contacts__links > h3 {
                    display: none;
                    text-align: center;
                    color: #63489d;
                    font-family: 'Harpseal Regular';
                }

                .profile-info-contacts__links-item {
                    width: 100%;
                    height: 48px;
                    display: flex;
                    flex-direction: row;
                    gap: 2%;
                    justify-content: center;
                    align-items: center;
                }
        
        .profile-info-events {
            display: flex;
            flex-direction: column;
            padding: 15px;
        }

            .profile-info-events-header {
                width: 100%;
                margin: 10px;
            }

                .profile-info-events-header > h3 {
                    text-align: center;
                    color: #63489d;
                    font-family: 'Harpseal Regular';
                }

                    .profile-info-contacts__links-item__link {
                        width: 88%;
                    }

                        .profile-info-contacts__links-item__link > a {
                            font-size: 1.3rem;
                            text-decoration: underline;
                            font-family: 'FortuneC regular';
                            color: #63489d;
                        }
        
        .profile-info-events-list {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

            .profile-info-events-list__item {
                display: flex;
                flex-direction: column;
                width: 100%;
            }

                .profile-info-events-list-headers {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-bottom: 10px;
                    gap: 2%;
                    border-bottom: 1px solid #63489d;
                }

                    .profile-info-events-list-headers > h3{
                        margin: 0;
                        width: 18%;
                        text-align: center;
                        color: #63489d;
                        font-family: 'Harpseal Regular';
                        font-size: 1.3rem;
                    }

                .profile-info-events-list__item-info {
                    padding: 10px;
                    height: 70px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 2%;
                    border-bottom: 1px solid #63489d;
                    border-left: 1px solid #63489d;
                    border-right: 1px solid #63489d;
                }

                .profile-info-events-list__item-detailed {
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 2%;
                    border-bottom: 1px solid #63489d;
                    border-left: 1px solid #63489d;
                    border-right: 1px solid #63489d;
                }

                    .profile-info-events-list__item-detailed__video {
                        display: flex;
                        justify-content: center;
                        width: 60%;
                    }

                    .profile-info-events-list__item-detailed__desc {
                        width: 40%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    .profile-info-events-list__item-detailed__desc-hide {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-end;
                    }

                        .profile-info-events-list__item-detailed__desc-hide > button {
                            width: 60%;
                            background: none;
                            height: 50px;
                            border: 1px solid #63489d;
                            font-family: 'FortuneC regular';
                            color: #63489d;
                            transition: .2s ease-in-out;
                        }

                        .profile-info-events-list__item-detailed__desc-hide > button:hover {
                            background: #63489d;
                            color: #f7e9ff;
                            transition: .2s ease-in-out;
                        }

                        .profile-info-events-list__item-detailed__desc-item {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            gap: 5%;
                            margin-bottom: 10px;
                        }

                            .profile-info-events-list__item-detailed__desc-item > p {
                                margin: 0;
                                width: 60%;
                                color: #63489d;
                                font-size: 1rem;
                                font-family: 'FortuneC regular';
                            }

                            .profile-info-events-list__item-detailed__desc-item > p:first-child {
                                color: #000;
                                width: 35%;
                            }
                
                .profile-info-events-list__item-info:hover {
                    cursor: pointer;
                    background: #e8e4f0;
                }

                    .profile-info-events-list__item-info > h3 {
                        margin: 0;
                        width: 18%;
                        font-size: 1.1rem;
                        text-align: center;
                        font-family: 'FortuneC regular';
                        color: #63489d;
                    }

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

    .profile-header__text {
        font-size: 1.5rem;
    }

    .profile-info-headers {
        display: none;
    }

    .profile-info-contacts {
        flex-direction: column;
    }

        .profile-info-contacts__links > h3, .profile-info-achivements > h3, .profile-info-contacts__image > h3 {
            width: 100%;
            margin: 5px auto;
            display: flex;
            justify-content: center;
        }

        .profile-info-contacts__image {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .profile-info-contacts__image > img {
                width: 50%;
            }

        .profile-info-contacts__links {
            width: 100%;
            justify-content: center;
            margin-bottom: 15px;
        }

            .profile-info-contacts__links-item {
                height: 38px;
            }

                .profile-info-contacts__links-item__link {
                    display: flex;
                    justify-content: center;
                }

                    .profile-info-contacts__links-item__link > a {
                        font-size: 1rem;
                        text-align: center;
                    }

    .profile-info-achivements {
        width: 100%;
    }

        .profile-info-achivements__item {
            height: 40px;
        }

            .profile-info-achivements__season-item-header > h4 {
                font-size: .6rem;
            }

            .profile-info-achivements__season-item, .profile-info-achivements__event-item {
                height: 40px;
            }

                .profile-info-achivements__season-item > p, .profile-info-achivements__event-item > p {
                    height: 40px;
                    font-size: .7rem;
                }

                .profile-info-achivements__event-item > p:first-child {
                    font-size: .5rem;
                }

        .profile-info-events-header {
            margin: 0;
        }

            .profile-info-events-list-headers {
                align-items: center;
            }

                .profile-info-events-list-headers > h3 {
                    font-size: .4rem;
                }

                .profile-info-events-list__item-info {
                    padding: 2px;
                }

                    .profile-info-events-list__item-info > h3 {
                        font-size: .5rem;
                    }

            .profile-info-events-list__item-detailed {
                flex-direction: column;
            }
                
                .profile-info-events-list__item-detailed__video {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .profile-info-events-list__item-detailed__desc {
                    width: 100%;
                }

                    .profile-info-events-list__item-detailed__video > iframe {
                        width: 100%;
                        height: 200px;
                    }

                        .profile-info-events-list__item-detailed__desc-item > p {
                            font-size: .7rem;
                        }

                        .profile-info-events-list__item-detailed__desc-hide > button {
                            width: 100%;
                        }

}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

    .profile-header__text {
        font-size: 1.5rem;
    }

    .profile-info-headers {
        display: none;
    }

    .profile-info-contacts {
        flex-direction: column;
    }

        .profile-info-contacts__links > h3, .profile-info-achivements > h3, .profile-info-contacts__image > h3 {
            width: 100%;
            margin: 5px auto;
            display: flex;
            justify-content: center;
        }

        .profile-info-contacts__image {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

            .profile-info-contacts__image > img {
                width: 60%;
            }

        .profile-info-contacts__links {
            width: 100%;
            justify-content: center;
            margin-bottom: 15px;
        }

            .profile-info-contacts__links-item {
                height: 38px;
            }

                .profile-info-contacts__links-item__link {
                    display: flex;
                    justify-content: center;
                }

                    .profile-info-contacts__links-item__link > a {
                        font-size: 1rem;
                        text-align: center;
                    }

    .profile-info-achivements {
        width: 100%;
    }

        .profile-info-achivements__item {
            height: 40px;
        }

        .profile-info-events-header {
            margin: 0;
        }

            .profile-info-events-list-headers {
                align-items: center;
            }

                .profile-info-events-list-headers > h3 {
                    font-size: .4rem;
                }

                .profile-info-events-list__item-info {
                    padding: 2px;
                }

                    .profile-info-events-list__item-info > h3 {
                        font-size: .5rem;
                    }

            .profile-info-events-list__item-detailed {
                flex-direction: column;
            }
                
                .profile-info-events-list__item-detailed__video {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .profile-info-events-list__item-detailed__desc {
                    width: 100%;
                }

                    .profile-info-events-list__item-detailed__video > iframe {
                        width: 100%;
                        height: 200px;
                    }

                        .profile-info-events-list__item-detailed__desc-item > p {
                            font-size: .7rem;
                        }

                        .profile-info-events-list__item-detailed__desc-hide > button {
                            width: 100%;
                        }    

}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {

    .profile-header__text {
        font-size: 1.5rem;
    }

    .profile-info-headers {
        display: none;
    }

    .profile-info-contacts {
        flex-direction: column;
    }

        .profile-info-contacts__links > h3, .profile-info-achivements > h3, .profile-info-contacts__image > h3 {
            width: 100%;
            margin: 5px auto;
            display: flex;
            justify-content: center;
        }

        .profile-info-contacts__image {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

            .profile-info-contacts__image > img {
                width: 60%;
            }

        .profile-info-contacts__links {
            width: 100%;
            justify-content: center;
            margin-bottom: 15px;
        }

            .profile-info-contacts__links-item {
                height: 38px;
            }

                .profile-info-contacts__links-item__link {
                    display: flex;
                    justify-content: center;
                }

                    .profile-info-contacts__links-item__link > a {
                        font-size: 1rem;
                        text-align: center;
                    }

    .profile-info-achivements {
        width: 100%;
    }

        .profile-info-achivements__item {
            height: 40px;
        }

        .profile-info-events-header {
            margin: 0;
        }

            .profile-info-events-list-headers {
                align-items: center;
            }

                .profile-info-events-list-headers > h3 {
                    font-size: .6rem;
                }

                .profile-info-events-list__item-info {
                    padding: 2px;
                }

                    .profile-info-events-list__item-info > h3 {
                        font-size: .7rem;
                    }

            .profile-info-events-list__item-detailed {
                flex-direction: column;
            }
                
                .profile-info-events-list__item-detailed__video {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .profile-info-events-list__item-detailed__desc {
                    width: 100%;
                }

                    .profile-info-events-list__item-detailed__video > iframe {
                        width: 100%;
                        height: 200px;
                    }

                        .profile-info-events-list__item-detailed__desc-item > p {
                            font-size: 1rem;
                        }

                        .profile-info-events-list__item-detailed__desc-hide > button {
                            width: 100%;
                        }
    
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {

    .profile {
        width: 70%;
    }

    .profile-header__text {
        font-size: 1.5rem;
    }

    .profile-info-headers {
        display: none;
    }

    .profile-info-contacts {
        flex-direction: column;
    }

        .profile-info-contacts__links > h3, .profile-info-achivements > h3, .profile-info-contacts__image > h3 {
            width: 100%;
            margin: 5px auto;
            display: flex;
            justify-content: center;
        }

        .profile-info-contacts__image {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

            .profile-info-contacts__image > img {
                width: 40%;
            }

        .profile-info-contacts__links {
            width: 100%;
            justify-content: center;
            margin-bottom: 15px;
        }

            .profile-info-contacts__links-item {
                height: 38px;
            }

                .profile-info-contacts__links-item__link {
                    display: flex;
                    justify-content: center;
                }

                    .profile-info-contacts__links-item__link > a {
                        font-size: 1rem;
                        text-align: center;
                    }

    .profile-info-achivements {
        width: 100%;
    }

        .profile-info-achivements__item {
            height: 40px;
        }

        .profile-info-events-header {
            margin: 0;
        }

            .profile-info-events-list-headers {
                align-items: center;
            }

                .profile-info-events-list-headers > h3 {
                    font-size: .4rem;
                }

                .profile-info-events-list__item-info {
                    padding: 2px;
                }

                    .profile-info-events-list__item-info > h3 {
                        font-size: .5rem;
                    }

            .profile-info-events-list__item-detailed {
                flex-direction: column;
            }
                
                .profile-info-events-list__item-detailed__video {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .profile-info-events-list__item-detailed__desc {
                    width: 100%;
                }

                    .profile-info-events-list__item-detailed__video > iframe {
                        width: 100%;
                        height: 200px;
                    }

                        .profile-info-events-list__item-detailed__desc-item > p {
                            font-size: .7rem;
                        }

                        .profile-info-events-list__item-detailed__desc-hide > button {
                            width: 100%;
                        }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

    .profile {
        width: 60%;
    }

    .profile-header__text {
        font-size: 1.5rem;
    }

    .profile-info-headers {
        display: none;
    }

    .profile-info-contacts {
        flex-direction: column;
    }

        .profile-info-contacts__links > h3, .profile-info-achivements > h3, .profile-info-contacts__image > h3 {
            width: 100%;
            margin: 5px auto;
            display: flex;
            justify-content: center;
        }

        .profile-info-contacts__image {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

            .profile-info-contacts__image > img {
                width: 40%;
            }

        .profile-info-contacts__links {
            width: 100%;
            justify-content: center;
            margin-bottom: 15px;
        }

            .profile-info-contacts__links-item {
                height: 38px;
            }

                .profile-info-contacts__links-item__link {
                    display: flex;
                    justify-content: center;
                }

                    .profile-info-contacts__links-item__link > a {
                        font-size: 1rem;
                        text-align: center;
                    }

    .profile-info-achivements {
        width: 100%;
    }

        .profile-info-achivements__item {
            height: 40px;
        }

        .profile-info-events-header {
            margin: 0;
        }

            .profile-info-events-list-headers {
                align-items: center;
            }

                .profile-info-events-list-headers > h3 {
                    font-size: .4rem;
                }

                .profile-info-events-list__item-info {
                    padding: 2px;
                }

                    .profile-info-events-list__item-info > h3 {
                        font-size: .5rem;
                    }

            .profile-info-events-list__item-detailed {
                flex-direction: column;
            }
                
                .profile-info-events-list__item-detailed__video {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .profile-info-events-list__item-detailed__desc {
                    width: 100%;
                }

                    .profile-info-events-list__item-detailed__video > iframe {
                        width: 100%;
                        height: 200px;
                    }

                        .profile-info-events-list__item-detailed__desc-item > p {
                            font-size: .7rem;
                        }

                        .profile-info-events-list__item-detailed__desc-hide > button {
                            width: 100%;
                        }

}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {

    .profile {
        width: 60%;
    }

    .profile-header__text {
        font-size: 1.5rem;
    }

    .profile-info-headers {
        display: none;
    }

    .profile-info-contacts {
        flex-direction: column;
    }

        .profile-info-contacts__links > h3, .profile-info-achivements > h3, .profile-info-contacts__image > h3 {
            width: 100%;
            margin: 5px auto;
            display: flex;
            justify-content: center;
        }

        .profile-info-contacts__image {
            width: 100%;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

            .profile-info-contacts__image > img {
                width: 30%;
            }

        .profile-info-contacts__links {
            width: 100%;
            justify-content: center;
            margin-bottom: 15px;
        }

            .profile-info-contacts__links-item {
                height: 38px;
            }

                .profile-info-contacts__links-item__link {
                    display: flex;
                    justify-content: center;
                }

                    .profile-info-contacts__links-item__link > a {
                        font-size: 1rem;
                        text-align: center;
                    }

    .profile-info-achivements {
        width: 100%;
    }

        .profile-info-achivements__item {
            height: 40px;
        }

        .profile-info-events-header {
            margin: 0;
        }

            .profile-info-events-list-headers {
                align-items: center;
            }

                .profile-info-events-list-headers > h3 {
                    font-size: .4rem;
                }

                .profile-info-events-list__item-info {
                    padding: 2px;
                }

                    .profile-info-events-list__item-info > h3 {
                        font-size: .5rem;
                    }

            .profile-info-events-list__item-detailed {
                flex-direction: column;
            }
                
                .profile-info-events-list__item-detailed__video {
                    width: 100%;
                    margin-bottom: 10px;
                }

                .profile-info-events-list__item-detailed__desc {
                    width: 100%;
                }

                    .profile-info-events-list__item-detailed__video > iframe {
                        width: 100%;
                        height: 200px;
                    }

                        .profile-info-events-list__item-detailed__desc-item > p {
                            font-size: .7rem;
                        }

                        .profile-info-events-list__item-detailed__desc-hide > button {
                            width: 100%;
                        }

}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    
    .profile {
        width: 60%;
    }

}

@media screen and (min-width: 1921px) {

    .profile {
        width: 45%;
    }
    
}