@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

:root {
    --event-host-font: 'Seymour One', sans-serif;
    --sample-font: 'Commissioner', sans-serif;
}

.event {
    display: flex;
    width: 80%;
    margin: 10px auto;
}

    .event-body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 2%;
        background: #fff !important;
    }

        .event-body-item {
            width: 49%;
            height: 363px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            /* font-family: var(--sample-font); */
        }

            .event-body-item > div > p:first-child {
                width: 15%;
            }

            .event-body-item__video {
                display: flex;
                justify-content: flex-start;
                width: 100%;
                height: 80%;
            }

            .event-body-item__tabs {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 1%;
            }

                .event-body-item__tabs > button {
                    border: none;
                    background: none;
                    font-family: 'FortuneC regular';
                    color: #63489d;
                    border: 1px solid #63489d;
                    padding: 2px;
                    border-top: none;
                    border-right: none;
                    border-radius: 5px;
                }

                    .event-body-item__tabs > .active {
                        background-color: #feca6b !important;
                    }

        .text-block {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5%;
        }

            .text-block-item {
                display: flex;
                flex-direction: row;                
                width: 100%;
                gap: 4%;
            }

                .text-block-item > p:first-child {
                    /* font-size: 1.3em; */
                    width: 10%;
                }

                .text-block-item > p:nth-child(2) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .text-block-item > h3 {
                    font-family: 'FortuneC regular';
                    margin: 0;
                    width: 86%;
                }

                .text-block-item > p {
                    font-family: 'FortuneC regular';
                    margin: 0;
                }

        .results-block {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 2%;
            height: 363px;
        }

            .event-results, .season-results {
                width: 43%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                border: 4px solid #63489d;
            }

            .event-results {
                height: 362px;
            }

                .event-header {
                    width: 80%;
                }

                    .event-results-header, .season-results-header {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 71px;
                        font-family: 'FortuneC regular';
                        color: #63489d;
                        border-bottom: 2px solid #63489d;
                    }

                    .event-results-header {
                        height: 60px;
                    }

                        .event-results-header > h1, .season-results-header > h1 {
                            font-family: 'FortuneC regular';
                            color: #63489d;
                        }

                        .event-results-header > h1 {
                            margin-bottom: 5px;
                        }

                        .event-results-header > h1, .season-results-header > h1 {
                            font-size: 1.4rem;
                            margin: 0;
                        }

                .event-results-item, .season-results-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 71px;
                    text-align: center;
                    font-family: 'FortuneC regular';
                    border-bottom: 1px solid #63489d;
                    color: #63489d;
                }

                .event-results-item {
                    height: 78px;
                }

    .event-replays {
        width: 100%;
        height: 79px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        border: 4px solid #63489d;
    }

        .event-replays > h4 {
            margin: 0;
            width: 100%;
            height: 30px;
            font-family: 'FortuneC regular';
            color: #63489d;
            font-size: 1.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #63489d;
        }

        .event-replays-body {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }

            .event-replays-body > div:first-child {
                border: none;
            }

            .event-replays-body__item {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-left: 1px solid #63489d;
            }

                .event-replays-body__item-link {
                    font-family: 'FortuneC regular';
                    color: #63489d;
                    font-size: 1.2rem;  
                }

@media only screen and (device-width: 375px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3){

    .event-body {
        flex-direction: column;
    }

        .event-body-item {
            width: 100%;
            height: 232px;
        }

            .event-body-item__video {
                width: 100%;
                height: 203px;
            }

                .event-body-item__video > iframe {
                    width: 100%;
                    height: 203px;
                }

                .event-body-item__tabs > button {
                    font-size: .6rem;
                }

        .text-block {
            padding: 2vh;
            height: 270px;
        }

        .text-block-item {
            margin-bottom: 2vh;
        }

            .text-block-item > p:first-child {
                width: 25%;
                font-size: .7rem;
            }

            .text-block-item > p:nth-child(2) {
                width: 71%;
                font-size: .7rem;
                justify-content: flex-start;
            }

    .results-block {
        flex-direction: column;
        height: 360px;
    }

        .event-results, .season-results {
            width: 100%;
            margin: 0;
        }

        .event-results {
            margin-bottom: 10px;
        }

            .event-results-header, .season-results-header {
                height: 30px;
            }

                .event-results-header > h1 {
                    font-size: 1rem;
                    margin: 0;
                }

                .season-results-header > h1 {
                    font-size: .8rem;
                    margin: 0;
                }

                .event-results-item, .season-results-item {
                    font-size: .7rem;
                    height: 30px;
                }

    .event-replays {
        height: 202px;
        margin-top: 10px;
    }

        .event-replays-body {
            flex-direction: column;
        }

            .event-replays-body > div:first-child {
                border: none;
            }

            .event-replays-body__item {
                border-top: 1px solid #63489d;
                border-left: none;
            }
    
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3){

    .event-body {
        flex-direction: column;
    }

        .event-body-item {
            width: 100%;
            height: 232px;
        }

            .event-body-item__video {
                width: 100%;
                height: 203px;
            }

                .event-body-item__video > iframe {
                    width: 100%;
                    height: 203px;
                }

                .event-body-item__tabs > button {
                    font-size: .6rem;
                }

        .text-block {
            padding: 2vh;
            height: 270px;
        }

        .text-block-item {
            margin-bottom: 2vh;
        }

            .text-block-item > p:first-child {
                width: 25%;
                font-size: .7rem;
            }

            .text-block-item > p:nth-child(2) {
                width: 71%;
                font-size: .7rem;
                justify-content: flex-start;
            }

    .results-block {
        flex-direction: column;
        height: 360px;
    }

        .event-results, .season-results {
            width: 100%;
            margin: 0;
        }

        .event-results {
            margin-bottom: 10px;
        }

            .event-results-header, .season-results-header {
                height: 30px;
            }

                .event-results-header > h1 {
                    font-size: 1rem;
                    margin: 0;
                }

                .season-results-header > h1 {
                    font-size: .8rem;
                    margin: 0;
                }

                .event-results-item, .season-results-item {
                    font-size: .7rem;
                    height: 30px;
                }

    .event-replays {
        height: 202px;
        margin-top: 10px;
    }

        .event-replays-body {
            flex-direction: column;
        }

            .event-replays-body > div:first-child {
                border: none;
            }

            .event-replays-body__item {
                border-top: 1px solid #63489d;
                border-left: none;
            }

} 

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3){

    .event-body {
        flex-direction: column;
    }

    .event-body-item {
        width: 100%;
        height: 232px;
    }

        .event-body-item__video {
            width: 100%;
            height: 203px;
        }

            .event-body-item__video > iframe {
                width: 100%;
                height: 203px;
            }

            .event-body-item__tabs > button {
                font-size: .6rem;
            }

        .text-block {
            padding: 2vh;
            height: 180px;
        }

        .text-block-item {
            margin-bottom: 2vh;
        }

            .text-block-item > p:first-child {
                width: 25%;
                font-size: .7rem;
            }

            .text-block-item > p:nth-child(2) {
                width: 71%;
                font-size: .7rem;
                justify-content: flex-start;
            }

    .results-block {
        flex-direction: column;
        height: 360px;
    }

        .event-results, .season-results {
            width: 100%;
            margin: 0;
        }

        .event-results {
            margin-bottom: 10px;
        }

            .event-results-header, .season-results-header {
                height: 30px;
            }

                .event-results-header > h1 {
                    font-size: 1rem;
                    margin: 0;
                }

                .season-results-header > h1 {
                    font-size: .8rem;
                    margin: 0;
                }

                .event-results-item, .season-results-item {
                    font-size: .7rem;
                    height: 30px;
                }

    .event-replays {
        height: 202px;
        margin-top: 10px;
    }

        .event-replays-body {
            flex-direction: column;
        }

            .event-replays-body > div:first-child {
                border: none;
            }

            .event-replays-body__item {
                border-top: 1px solid #63489d;
                border-left: none;
            }

}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3){

    .event-body {
        flex-direction: column;
    }

    .event-body-item {
        width: 100%;
        height: 232px;
    }

        .event-body-item__video {
            width: 100%;
            height: 203px;
        }

            .event-body-item__video > iframe {
                width: 100%;
                height: 203px;
            }

            .event-body-item__tabs > button {
                font-size: .6rem;
            }

        .text-block {
            padding: 2vh;
            height: 235px;
        }

        .text-block-item {
            margin-bottom: 2vh;
        }

            .text-block-item > p:first-child {
                width: 25%;
                font-size: .7rem;
            }

            .text-block-item > p:nth-child(2) {
                width: 71%;
                font-size: .7rem;
                justify-content: flex-start;
            }

    .results-block {
        flex-direction: column;
        height: 360px;
    }

        .event-results, .season-results {
            width: 100%;
            margin: 0;
        }

        .event-results {
            margin-bottom: 10px;
        }

            .event-results-header, .season-results-header {
                height: 30px;
            }

                .event-results-header > h1 {
                    font-size: 1rem;
                    margin: 0;
                }

                .season-results-header > h1 {
                    font-size: .8rem;
                    margin: 0;
                }

                .event-results-item, .season-results-item {
                    font-size: .7rem;
                    height: 30px;
                }

    .event-replays {
        height: 202px;
        margin-top: 10px;
    }

        .event-replays-body {
            flex-direction: column;
        }

            .event-replays-body > div:first-child {
                border: none;
            }

            .event-replays-body__item {
                border-top: 1px solid #63489d;
                border-left: none;
            }
    
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3){

    .event {
        width: 70%;
    }

    .event-body {
        flex-direction: column;
    }

    .event-body-item {
        width: 100%;
        height: 290px;
    }

        .event-body-item__video {
            width: 100%;
            height: 260px;
        }

            .event-body-item__video > iframe {
                width: 100%;
                height: 260px;
            }

            .event-body-item__tabs > button {
                font-size: .6rem;
            }

        .text-block {
            padding: 2vh;
            height: 175px;
        }

        .text-block-item {
            margin-bottom: 2vh;
        }

            .text-block-item > p:first-child {
                width: 25%;
                font-size: .7rem;
            }

            .text-block-item > p:nth-child(2) {
                width: 71%;
                font-size: .7rem;
                justify-content: flex-start;
            }

    .results-block {
        height: 160px;
    }

        .event-results, .season-results {
            margin: 0 auto;
            height: 155px;
        }

            .event-results-header, .season-results-header {
                height: 30px;
            }

                .event-results-header > h1 {
                    font-size: 1rem;
                    margin: 0;
                }

                .season-results-header > h1 {
                    font-size: .8rem;
                    margin: 0;
                }

                .event-results-item, .season-results-item {
                    font-size: .7rem;
                    height: 30px;
                }

    .event-replays {
        height: 202px;
        margin-top: 10px;
    }

        .event-replays-body {
            flex-direction: column;
        }

            .event-replays-body > div:first-child {
                border: none;
            }

            .event-replays-body__item {
                border-top: 1px solid #63489d;
                border-left: none;
            }
    
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3){

    .event {
        width: 60%;
    }

    .event-body-item {
        width: 100%;
        height: 260px;
    }

        .event-body-item__video {
            width: 100%;
            height: 235px;
        }

            .event-body-item__video > iframe {
                width: 100%;
                height: 235px;
            }

            .event-body-item__tabs > button {
                font-size: .8rem;
            }

        .text-block {
            padding: 2vh;
            height: 200px;
        }

        .text-block-item {
            margin-bottom: 0;
        }

            .text-block-item > p:first-child {
                width: 25%;
                font-size: .7rem;
            }

            .text-block-item > p:nth-child(2) {
                width: 71%;
                font-size: .7rem;
                justify-content: flex-start;
            }

    .results-block {
        flex-direction: column;
        height: 360px;
    }

        .event-results, .season-results {
            width: 100%;
            margin: 0;
        }

        .event-results {
            margin-bottom: 10px;
        }

            .event-results-header, .season-results-header {
                height: 30px;
            }

                .event-results-header > h1 {
                    font-size: 1rem;
                    margin: 0;
                }

                .season-results-header > h1 {
                    font-size: .8rem;
                    margin: 0;
                }

                .event-results-item, .season-results-item {
                    font-size: .7rem;
                    height: 30px;
                }

    .event-replays {
        height: 202px;
        margin-top: 10px;
    }

        .event-replays-body {
            flex-direction: column;
        }

            .event-replays-body > div:first-child {
                border: none;
            }

            .event-replays-body__item {
                border-top: 1px solid #63489d;
                border-left: none;
            }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape){

    .event {
        width: 60%;
    }

    .event-body {
        flex-direction: column;
    }

    .event-body-item {
        width: 100%;
        height: 300px;
    }

        .event-body-item__video {
            width: 100%;
            height: 280px;
        }

            .event-body-item__video > iframe {
                width: 100%;
                height: 280px;
            }

            .event-body-item__tabs > button {
                font-size: 1rem;
            }

        .text-block {
            padding: 2vh;
            height: 160px;
        }

        .text-block-item {
            margin-bottom: .5vh;
        }

            .text-block-item > p:first-child {
                width: 25%;
                font-size: .7rem;
            }

            .text-block-item > p:nth-child(2) {
                width: 71%;
                font-size: .7rem;
                justify-content: flex-start;
            }

    .results-block {
        height: 160px;
    }

        .event-results, .season-results {
            margin: 0 auto;
            height: 155px;
        }

            .event-results-header, .season-results-header {
                height: 30px;
            }

                .event-results-header > h1 {
                    font-size: 1rem;
                    margin: 0;
                }

                .season-results-header > h1 {
                    font-size: .8rem;
                    margin: 0;
                }

                .event-results-item, .season-results-item {
                    font-size: .7rem;
                    height: 30px;
                }

    .event-replays {
        height: 202px;
        margin-top: 10px;
    }

        .event-replays-body {
            flex-direction: column;
        }

            .event-replays-body > div:first-child {
                border: none;
            }

            .event-replays-body__item {
                border-top: 1px solid #63489d;
                border-left: none;
            }

}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    
    .event {
        width: 60%;
    }

}

@media screen and (min-width: 1921px) {
    
    .event {
        width: 45%;
    }

}