@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

:root {
    --about-header-font: 'Seymour One', sans-serif;
    --sample-font: 'Commissioner', sans-serif;
}

@font-face {
    font-family: 'Minecraft-Ten regular';
    src: url('../../fonts/minecraft-ten.ttf');
}

.about {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 8vh;
}

    .about-header {
        padding: 2vh 0;
        width: 100%;
        text-align: center;        
        background: #feca6b;
        margin-bottom: 1vh;
    }

        .about-header__text {
            color: #63489d;
            font-family: 'Minecraft-Ten regular';
            font-size: 2rem;
        }

    .about-content {
        padding: 2vh 2vh;
        font-family: var(--sample-font);
        font-size: 1.3rem;
        color: #63489d;
        background: #f7e9ff;
    }