@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

:root {
    --seasons-header-font: 'Seymour One', sans-serif;
    --sample-font: 'Commissioner', sans-serif;
}

.seasons {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: #fff;
}

    .seasons-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vh 0;
        width: 100%;
        text-align: center;
        background: #feca6b;        
    }

    .seasons-header > h1 {
        margin: 0;
    }

        .seasons-header__text {
            font-family: 'Harpseal Regular';
            font-size: 2em;
            color: #63489d;
        }

    .season-body {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background: #f7e9ff;
        height: 50px;
    }

        .btn-event {
            width: 100%;
        }

        .btn-event:hover {
            background: #e8e4f0;
        }

        .season-event {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #63489d !important;
            font-family: 'FortuneC regular' !important;
        }

            .season-event-active {
                background-color: #feca6b !important;
            }

            .event-headers {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 2%;
            }

                .event-headers > h3 {
                    border-right: 1px solid #0000003b;
                }

                .event-headers-item {
                    display: flex;
                    margin: 0;
                    width: 12.29%;
                    height: 4vh;
                    font-family: 'FortuneC regular';
                    font-size: .8em;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                }

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

    .seasons-header {
        padding: 1vh 0;
        height: 4.5vh;
    }

        .seasons-header__text {
            font-size: .6rem;
        }

    .season-body {
        flex-wrap: wrap;
    }

        .season-event {
            font-size: .6rem !important;
        }

        .btn-lg {
            padding: 2vh !important;
        }

}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

    .seasons-header {
        padding: 2vh 0;
        height: 25px;
    }

        .seasons-header__text {
            font-size: .6rem;
        }

    .season-body {
        flex-wrap: wrap;
    }

        .season-event {
            font-size: .6rem !important;
        }

        .btn-lg {
            padding: 2vh !important;
        }

    
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {
    
    .seasons-header {
        padding: 2vh 0;
        height: 30px;
    }

        .seasons-header__text {
            font-size: .9rem;
        }

    .season-body {
        flex-wrap: wrap;
    }

        .season-event {
            font-size: .9rem !important;
        }

        .btn-lg {
            padding: 2vh !important;
        }


}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {

    .seasons {
        width: 70%;
    }

    .seasons-header {
        padding: 2vh 0;
        height: 30px;
    }

        .seasons-header__text {
            font-size: .9rem;
        }

    .season-body {
        flex-wrap: wrap;
    }

        .season-event {
            font-size: .6rem !important;
        }

        .btn-lg {
            padding: 2vh !important;
        }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

    .seasons {
        width: 60%;
    }

    .seasons-header {
        padding: 2vh 0;
        height: 30px;
    }

        .seasons-header__text {
            font-size: .9rem;
        }

    .season-body {
        flex-wrap: wrap;
    }

        .season-event {
            font-size: .9rem !important;
        }

        .btn-lg {
            padding: 2vh !important;
        }

}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {

    .seasons {
        width: 60%;
    }

    .seasons-header {
        padding: 1vh 0;
        height: 30px;
    }

        .seasons-header__text {
            font-size: .9rem;
        }

    .season-body {
        flex-wrap: wrap;
    }

        .season-event {
            font-size: .9rem !important;
        }

        .btn-lg {
            padding: 2vh !important;
        }

}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    
    .seasons {
        width: 60%;
    }

        .season-body {
            height: 65px;
        }

}

@media screen and (min-width: 1921px) {

    .seasons {
        width: 45%;
    }

        .season-body {
            height: 65px;
        }
    
}