* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Harpseal Regular';
    src: url('../../fonts/Harpseal Regular.ttf');
}

@font-face {
    font-family: 'FortuneC regular';
    src: url('../../fonts/FortuneC.ttf');
}

body {
    background: #63489d !important;
    background-image: url('./img/bg_pattern.png') !important;
    background-attachment: fixed !important;
    background-position: center !important;
    /* background-size: 10vh; */
    background-size: 25vw 100vh !important;
    background-repeat: repeat !important;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body{
        background: #63489d !important;
        background-image: url('./img/bg_pattern.png') !important;
        background-attachment: fixed !important;
        background-position: center !important;
        /* background-size: 10vh; */
        background-size: 33vw 39.5vh !important;
        background-repeat: repeat !important;
    }
}