@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

:root {
    --sample-font: 'Commissioner', sans-serif;
}

body {
    /* box-shadow: 0px 13px 46px -16px #feca6b inset;
    -webkit-box-shadow: 0px 13px 46px -16px #feca6b inset;
    -moz-box-shadow: 0px 13px 46px -16px #feca6b inset; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.auth {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    border-radius: 20px;
    background: #ffffffdc;
}

    .user-type-choice {
        width: 80%;
        display: flex;
        flex-direction: row;
        gap: 4%;
    }

        .user-type-choice > input {
            font-family: var(--sample-font);
            width: 48%;
            border: 2px solid #63489d;
            background: none;
            color: #63489d;
            transition: .3s ease-in-out;
            cursor: pointer;
            border-radius: 15px;
            height: 10vh;
        }

        .user-type-choice > input:hover {
            background: #63489d;
            color: #fff;
            transition: .3s ease-in-out;
        }

        .user-type-choice > .admin-type {
            font-family: var(--sample-font);
            text-align: center;
            width: 48%;
            border: 2px solid #63489d;
            background: none;
            color: #63489d;
            transition: .3s ease-in-out;
            cursor: pointer;
            border-radius: 15px;
            height: 10vh;
        }

        .user-type-choice > .admin-type:hover {
            background: #63489d;
            color: #fff;
            transition: .3s ease-in-out;
        }

    .auth-block {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .auth-block-item {
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 2%;
        }

            .auth-block-item > label {
                width: 18%;
                font-family: var(--sample-font);
                color: #63489d;
            }

            .admin-name, .admin-pass {
                width: 80%;
                margin-bottom: 1vh;
                font-family: var(--sample-font);
                text-align: center;
                background: none;
                border: none;
                padding: 0 1vw;
                border-bottom: 2px solid #63489d;
                color: #63489d;
            }

                .admin-name:focus, .admin-pass:focus {
                    outline: none;
                }

    .auth-button {
        width: 100%;
        text-align: center;
        background: none;
        font-family: var(--sample-font);
        color: #63489d;
        border: 2px solid #63489d;
        transition: .3s ease-in-out;
        height: 5vh;
        border-radius: 5px;
    }

        .auth-button:hover {
            background: #63489d;
            color: #fff;
            transition: .3s ease-in-out;
        }