@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

:root {
    --news-block-font: 'Seymour One', sans-serif;
    --sample-font: 'Commissioner', sans-serif;
}

.news {
    font-family: var(--news-block-font);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 10px auto;
}

    .news-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vh 0;
        width: 100%;
        text-align: center;        
        background: #feca6b;
        /* margin-bottom: 1vh; */
    }

        .news-header > h1 {
            margin: 0;
        }

        .news-header__text {
            color: #63489d;
            font-family: 'Harpseal Regular';
            font-size: 2rem;            
        }

    .news-card {
        width: 100%;        
        /* padding: 20px; */
        background: #f7e9ff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        .news-card-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .news-card-header {
                font-size: 1.5rem;
                font-family: 'Harpseal Regular';
                color: #63489d;
            }

                .news-card-body > p {
                    font-family: 'FortuneC regular';
                    font-size: 1.3rem;
                    color: #63489d;
                }

                .news-card-body__image {
                    width: 100%;
                }

                    .empty-news {
                        text-align: center;
                    }

            .news-card-body__date {
                font-family: 'FortuneC regular';
                font-size: 1.2rem;
                color: #9772ab;
            }

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

        .news-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
        }

            .news-header__text {
                font-size: .6rem;
                margin: 0;                
            }

            .news-card-header {
                font-size: .6rem;
            }

            .news-card-body__image {
                width: 100%;
            }

            .news-card-body > p {
                font-size: .6rem;
                margin: 0;
            }

            .news-card-body__date {
                font-size: .6rem;
                margin: 0;
            }

}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

        .news-header {
            display: flex;
            justify-content: center;
            align-items: center;
            /* padding: 1vh 0; */
            height: 25px;
        }

            .news-header__text {
                font-size: .6rem;
                margin: 0;                
            }

            .news-card-header {
                font-size: .6rem;
            }

            .news-card-body__image {
                width: 100%;
            }

            .news-card-body > p {
                font-size: .6rem;
                margin: 0;
            }

            .news-card-body__date {
                font-size: .6rem;
                margin: 0;
            }

}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: portrait) {

        .news-header {
            display: flex;
            justify-content: center;
            align-items: center;
            /* padding: 1vh 0; */
            height: 30px;
        }

            .news-header__text {
                font-size: .9rem;
                margin: 0;                
            }

            .news-card-header {
                font-size: .7rem;
            }

            .news-card-body__image {
                width: 100%;
            }

            .news-card-body > p {
                font-size: .7rem;
                margin: 0;
            }

            .news-card-body__date {
                font-size: .6rem;
                margin: 0;
            }
    
}

@media screen and (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {

    .news {
        width: 70%;
    }

        .news-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2vh 0;
            height: 30px;
        }

            .news-header__text {
                font-size: .9rem;
                margin: 0;                
            }

            .news-card-header {
                font-size: .8rem;
            }

            .news-card-body__image {
                width: 100%;
            }

            .news-card-body > p {
                font-size: .8rem;
                margin: 0;
            }

            .news-card-body__date {
                font-size: .8rem;
                margin: 0;
            }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {

    .news {
        width: 60%;
    }

        .news-header {
            display: flex;
            justify-content: center;
            align-items: center;
            /* padding: 1vh 0; */
            height: 30px;
        }

            .news-header__text {
                font-size: .9rem;
                margin: 0;                
            }

            .news-card-header {
                font-size: .9rem;
            }

            .news-card-body__image {
                width: 100%;
            }

            .news-card-body > p {
                font-size: .9rem;
                margin: 0;
            }

            .news-card-body__date {
                font-size: .9rem;
                margin: 0;
            }

}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {

    .news {
        width: 60%;
    }

        .news-header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
        }

            .news-header__text {
                font-size: .9rem;
                margin: 0;                
            }

            .news-card-header {
                font-size: .9rem;
            }

            .news-card-body__image {
                width: 100%;
            }

            .news-card-body > p {
                font-size: .9rem;
                margin: 0;
            }

            .news-card-body__date {
                font-size: .9rem;
                margin: 0;
            }

}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    
    .news {
        width: 60%;
    }

}

@media screen and (min-width: 1921px) {

    .news {
        width: 45%;
    }
    
}