@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

:root {
    --news-block-font: 'Seymour One', sans-serif;
    --sample-font: 'Commissioner', sans-serif;
}

.news {
    font-family: var(--news-block-font);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 2vh auto;
    margin-bottom: 8vh;
}

    .news-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2vh 0;
        width: 100%;
        text-align: center;        
        background: #feca6b;
        /* margin-bottom: 1vh; */
    }

        .news-header > h1 {
            margin: 0;
        }

        .news-header__text {
            color: #63489d;
            font-family: 'Harpseal Regular';
            font-size: 2rem;            
        }

    .news-card {
        width: 100%;
        padding: 3vh 0;
        padding-right: 5%;
        padding-left: 1%;
        background: #f7e9ff;
    }

        .news-card-header {
            font-size: 1.5rem;
            font-family: 'Harpseal Regular';
            color: #63489d;
        }

        .news-card-body > p {
            font-family: 'FortuneC regular';
            font-size: 1.3rem;
            padding: 2vh 2vh;
            color: #63489d;
        }

        .news-card-body__date {
            font-family: 'FortuneC regular';
            font-size: 1.2rem;
            color: #9772ab;
            margin-bottom: 4vh;
        }

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

    .news {
        margin-bottom: 4vh;
    }

        .news-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1vh 0;
            height: 4vh;
        }

            .news-header__text {
                font-size: .6rem;
                margin: 0;                
            }

        .news-card {
            padding-left: 4%;
        }

            .news-card-header {
                font-size: .6rem;
            }

            .news-card-body > p {
                font-size: .6rem;
                padding: 1vh 1vh;
                margin: 0;
            }

            .news-card-body__date {
                font-size: .6rem;
                margin: 0;
            }

}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {

    .news {
        margin-bottom: 4vh;
    }

        .news-header {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1vh 0;
            height: 4vh;
        }

            .news-header__text {
                font-size: .6rem;
                margin: 0;                
            }

        .news-card {
            padding-left: 4%;
        }

            .news-card-header {
                font-size: .6rem;
            }

            .news-card-body > p {
                font-size: .6rem;
                padding: 1vh 1vh;
                margin: 0;
            }

            .news-card-body__date {
                font-size: .6rem;
                margin: 0;
            }

}