@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&display=swap');

:root {
    --news-block-font: 'Seymour One', sans-serif;
    --sample-font: 'Commissioner', sans-serif;
}

@font-face {
    font-family: 'Minecraft-Ten regular';
    src: url('../../fonts/minecraft-ten.ttf');
}

.news {
    font-family: var(--news-block-font);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 2vh auto;
}

    .news-header {
        width: 100%;
        text-align: center;
        font-family: 'Minecraft-Ten regular';
        padding: 2vh 0;
        font-size: 2rem;
        color: #63489d;
        background: #feca6b;
        margin: 0;
        margin-bottom: 1vh;
    }

    .news-card {
        width: 100%;
        padding: 3vh 0;
        padding-right: 5%;
        padding-left: 1%;
        background: #f7e9ff;
    }

        .news-card-header {
            font-size: 1.5rem;
            font-family: 'Minecraft-Ten regular';
            color: #63489d;
        }

        .news-card-body > p {
            font-family: var(--sample-font);
            font-size: 1.3rem;
            padding: 2vh 2vh;
            color: #63489d;
        }

        .news-card-body__date {
            font-family: var(--sample-font);
            font-size: 1.2rem;
            color: #9772ab;
            margin-bottom: 4vh;
        }